@import url("https://fonts.googleapis.com/css2?family= Oleo +Script & display=swap");

:root {
  --font-principal: ("Oleo +Script");
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background: url(./image/Untitled.svg) no-repeat center fixed;
  background-size: cover;
}

.titulo{
  font-family: 'Leckerli One', cursive;
  margin-left: 22vh;
  margin-top: 15vh;
  position: absolute;
  color: white;
  font-weight: 400;
}

h4 {
  padding-left: 20vh;
  padding-top: 40vh;
  font-size: 60px;
  color: #d4596d;
  align-items: center;
  font-family: "Cookie", cursive;
  font-weight: 700;
}

p {
  font-size: 20px;
  margin: 20px;
  margin-left: 20vh;
  color: white;
}

button {
  margin-bottom: 20px;
  margin: 20px;
  font-size: 30px;
  margin-left: 20vh;
  padding: 20px 20px 20px;
  border-radius: 50px;
  border-style: none;
  background-color: #d85a6f;
  font-family: var(--font-principal);
  font-weight: 800;
  color: white;
}

.sociais {
  display: flex;
  flex-direction: row;
  margin-left: 16vh;
}

.rede1{
  margin-top: 20px;
  padding: 10px;
  max-width: 34px;
}


.bolinho{
  
  margin-left: 18vh;
  margin-top: 14vh;
  position: absolute;
  color: white;
  font-weight: 400;
  max-width: 39px;
  
}